*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    user-select: none;

    .container{
        width: auto;
        height: 909px;
        background: rgb(136, 133, 133);

        .header{
            background: #000;
            width: 1640px;
            height: 100px;
            padding-top: 1px;

            h1{
                text-align: center;
                margin-top: 30px;
                color: #fff;
            }
        }

        .middleContent{
            width: 1640px;
            height: 600px;
            margin-top: 100px;
            display: flex;
            flex-direction: row;

            .cards{
                background: #000;
                width: 500px;
                height: 600px;
                margin: 0px 21px;
                border-radius: 30px;
                padding-top: 1px;
                transition: 500ms;
                button{
                    margin-left: 25px;
                    width: 450px;
                    height: 450px;
                    border-radius: 20px;
                    font-size: 50px;
                    border: none;
                    cursor: pointer;
                }
    
                &:hover{
                    margin-top: -50px;
                    transition: 500ms;
                }
    
                h2{
                    text-align: center;
                    color: #fff;
                    font-size: 40px;
                    margin-top: 20px;
                }
    
                p{
                    text-align: center;
                    color: #fff;
                    font-size: 20px;
                    margin-top: 20px;
                    padding: 0 10px;
                    line-height: 40px;
                }
            }
        }
        
        
    }
}